/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "PT Sans", sans-serif;
    background-color: var(--color-odd-bg);
}
main{
    padding-top: 20px;
}
section{
    padding: 20px;
}
.debug{
    border: 1px solid red;
}
html {
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
:root {
	--color-header: #0084fd;
	--color-odd-bg: #ffffff;
	--color-even-bg: #9792e4;
	--color-contrast: #b5ddff;
	--color-footer-bg: #333333;
	--color-color-h1: #fdc15f;
}
/* utility */
.container{
    margin: 0 auto;
}
.even{
    background-color: var(--color-even-bg);
}
.text-center{
    text-align: center;
}
/* *** */
/* flex utilities */
.d-flex{
    display: flex;
}
.no-flex{
    display: block;
}
.align-items-center{
    align-items: center;
    align-content: center;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.row-reverse{
    flex-direction: row-reverse;
}
.justify-start{
    justify-content: flex-start;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-flexend{
    justify-content: flex-end;
}
.justify-evenly{
    justify-content: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}
.align-baseline{
    align-items: baseline;
}
.space-around{
    justify-content: space-around;
}
.align-flex-start{
    align-items: flex-start;
}
.align-items-stretch{
    align-items: stretch;
}
/* *** */

.button{
    background-color: var(--color-header);
    border-radius: 40px;
    width: 120px;
    margin: 0 auto;
    text-align: center;
    padding: 8px;
    color: white;
}
.whitebtn{
    background-color: var(--color-odd-bg);
    color: black;
}
.tile-text div i{
    color: white;
}    
/* header */
nav{
    width: 100%;
    background-color: var(--color-header);
    padding: 20px;
}
nav li{
    padding: 5px;
    color: white;
    display: none;
}
.ham-menu{
    font-size: 2em;
    color: white;
    position: relative;
}
.ham-items ul{
    color: black;
    position: absolute;
    right: 0;
    padding: 20px;
    background-color: var(--color-header);
    font-size: 1.5em;
    display: none;
}
.ham-items li{
    padding: 10px;
}
.ham-menu:hover{
    background-color: blue;
}
/* ******* */

/* tile backgrounds */
.light-tile{
    background-color: var(--color-contrast);
}
.white-tile{
    background-color: var(--color-odd-bg);
}
.purple-tile{
    background-color: var(--color-even-bg);
}
/* first section */
.tile{
    border-radius: 30px;
    padding: 20px;
    margin: 15px auto;
}
.first-tile{
    padding-bottom: 0px;
}
#phone{
    width: 60%;
    margin: 0 auto;
}
#phone img{
    width: 100%;
    display: block;
}
.tile h4, .tile i{
    color: var(--color-header);
}
.firstrow .tile h4{
    font-size: 1.2em;
}
.firstrow .tile>i{
    font-size: 3em;
}
.secondrow .tile, .secondrow .tile h4{
    font-size: 1.2em;
}
.secondrow .tile i{
    font-size: 3em;
}

/* **** */
/* second section */
.planning{
    width: 80%;
    margin: 0 auto;
}
.planning img{
    width: 100%;
}
/* *** */

/* third section */
.testimonials{
    width: 40%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

}
.testimonials img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
/* about section */
#about *{
    margin-bottom: 10px;
}
#about .button{
    width: 190px;
    background-color: #9792e4;
}
#about h3{
    font-size: 1.5em;
    color: #9792e4;
}
/* *** */
/* get started section */
#getstarted{
    color: white;
}
#getstarted *{
    margin-bottom: 20px;
}
#getstarted h4{
    font-weight: 200;
    color: lightgray;
}
#getstarted h3{
    font-weight: 600;
    color: white;
}
#getstarted h1{
    font-size: 4em;
    color: var(--color-color-h1);
}
#getstarted div>i{
    font-size: 0.3em;
}
/* footer */
footer{
    background-color: var(--color-footer-bg);
    color: white;
    padding: 20px;
}
footer *{
    margin-bottom: 40px;
}
/* *** */

@media screen and (min-width: 768px){
    .container{
        max-width: 728px;
    }
}
@media screen and (min-width: 992px){
    .container{
        max-width: 942px;
    }
    #phone img{
        width: 60%;
    }
    #features .tile{
        width: 40%
    }
    .first-tile{
        flex-grow: 1;
    }
    #features .firstrow{
        display: flex;
        width: 100%;
    }
    #features .secondrow{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #people .tile{
        display: flex;
        
    }
    #work-with-us .container>div{
        display: flex;
        flex-wrap: wrap;
    }
    #work-with-us .tile{
        width: 43%;
    }
    #about .container{
        display: flex;
    }

}
@media screen and (min-width: 1200px){
    .container{
        max-width: 1160px;
    }
    #strategic-planning .container{
        display: flex;
    }
    #strategic-planning .container>div{
        width: 50%;
    }
    #features .first-tile{
        display: flex;
    }
    #phone img{
        width: 100%;
    }
    #work-with-us .container>div{
        display: flex;
        flex-wrap: wrap;
    }
    #work-with-us .tile{
        width: calc(100% / 3);
    }
    nav li{
        display: block;
    }
    .ham-menu{
        display: none;
    }
}