/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "PT Sans", sans-serif;
    background-color: var(--color-odd-bg);
}
main{
    padding-top: 20px;
}
.debug{
    border: 1px solid red;
}
html {
    scroll-behavior: smooth;
}
:root {
	--color-header: #0084fd;
	--color-odd-bg: #ffffff;
	--color-even-bg: #9792e4;
	--color-contrast: #b5ddff;
	--color-footer-bg: #333333;
	--color-color-h1: #fdc15f;
}
/* utility */
.container{
    margin: 0 auto;
}
.even{
    background-color: var(--color-even-bg);
}
@media screen and (min-width: 768px){
    .container{
        max-width: 728px;
    }
}
@media screen and (min-width: 992px){
    .container{
        max-width: 942px;
    }
}
@media screen and (min-width: 1200px){
    .container{
        max-width: 1160px;
    }
}

/* header */
nav{
    width: 100%;
    background-color: var(--color-header);
    padding: 20px;

}
.tile{
    background-color: var(--color-contrast);
    border-radius: 20px;
    padding: 20px;
}
.tile img{
    width: 100%;
}
/* footer */
footer{
    background-color: var(--color-footer-bg);
}
