/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "PT Sans", sans-serif;
    background-color: var(--color-odd-bg);
}
main{
    padding-top: 20px;
}
section{
    padding: 20px;
}
.debug{
    border: 1px solid red;
}
html {
    scroll-behavior: smooth;
}
:root {
	--color-header: #0084fd;
	--color-odd-bg: #ffffff;
	--color-even-bg: #9792e4;
	--color-contrast: #b5ddff;
	--color-footer-bg: #333333;
	--color-color-h1: #fdc15f;
}
/* utility */
.container{
    margin: 0 auto;
}
.even{
    background-color: var(--color-even-bg);
}
.text-center{
    text-align: center;
}
/* *** */
@media screen and (min-width: 768px){
    .container{
        max-width: 728px;
    }
}
@media screen and (min-width: 992px){
    .container{
        max-width: 942px;
    }
}
@media screen and (min-width: 1200px){
    .container{
        max-width: 1160px;
    }
}
.button{
    background-color: var(--color-header);
    border-radius: 10px;
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

/* header */
nav{
    width: 100%;
    background-color: var(--color-header);
    padding: 20px;

}
/* ******* */

/* tile backgrounds */
.light-tile{
    background-color: var(--color-contrast);
}
.white-tile{
    background-color: var(--color-odd-bg);
}
.purple-tile{
    background-color: var(--color-even-bg);
}
/* first section */
.tile{
    border-radius: 20px;
    padding: 20px 20px 0px 20px;
    margin: 15px auto;
}
#phone{
    width: 60%;
    margin: 0 auto;
}
#phone img{
    width: 100%;
    display: block;
}
.tile h4, .tile i{
    color: var(--color-header);
}
/* **** */
/* second section */
.planning{
    width: 80%;
    margin: 0 auto;
}
.planning img{
    width: 100%;
}
/* *** */

/* third section */
.testimonials{
    width: 40%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

}
.testimonials img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

/* footer */
footer{
    background-color: var(--color-footer-bg);
}
